*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: gray;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5vw;
}
input{
    height: 25px;
}
button{
    height: 25px;
    width: 75px;
}

@media (max-width: 470px){
    .block{
        flex-direction: column;
    }
}